.header__lang {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  column-gap: 18px;
}

@media screen and (min-width:768px) {
  .header__lang {
    font-size: 24px;
    line-height: 1.17;
  }
}
