.lead__caption {
  display: inline;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 0 16px;
}

@media screen and (min-width:768px) {
  .lead__caption {
    margin: 0 0 0 24px;
  }
}
@media screen and (min-width:1024px) {
  .lead__caption {
    margin: 0;
  }
}

