.place {
  margin: 0 auto 50px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width:768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
    margin: 0 auto 73px;
    align-items: start;
  }
}

@media screen and (min-width:1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
    margin: 0 auto 80px;
  }
}

@media screen and (min-width:1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
  }
}


